/*
	==================
	[MENU]
	==================
*/
#main_menu{
  position: relative;
  width: 100%;
  height: 120px;
  font-family: 'still_time_cyr';
  & .container{
    ul .long_word{

    }
  }
  ul{
    margin: 0;
    padding: 0;
    li{
      position: relative;
      float: left;
      width: 148px;
      height: 95px;
      margin-right: 1px;
      background-image: url("../img/main_menu_button.png");
      background-repeat: no-repeat;
      &:last-child{
        margin: 0;
      }
      &.active{
        height: 115px;
        background-image: url("../img/active_main_menu_button.png");
      }
    }
  }
  a{
    display: table-cell;
    position: absolute;
    top:48px;
    left:10px;
    width: 128px;
    height: 38px;
    text-align: center;
    padding: 0 !important;
    padding-top: 14px !important;
  }
  .active a{
    top: 68px;
  }
  a{
    color: #fff6c2;
    line-height: 1;
    font-size:1.2em;
    font-weight: bold;
    letter-spacing: 3px;
    vertical-align: middle;
  }
  .nav {
    li {
      a:hover {
        background-color: transparent;
      }
      a:focus {
        background-color: transparent;
        outline: none;
      }
    }
  }
  #w0-collapse{
    width:920px;
    #w1{
      width:920px;
    }
  }
}
