/*
	==================
	[IMPORT SCSS]
	==================
*/
/*
	==================
	[MAIN]
	==================
*/
@font-face {
  font-family: 'still_time_cyr';
  src: url("fonts/still_time_cyr/still_time_cyr_regular-webfont.eot");
  src: local("pfdintextcomppro-regular-webfont"), url("fonts/still_time_cyr/still_time_cyr_regular-webfont.eot?#iefix") format("embedded-opentype"), url("fonts/still_time_cyr/still_time_cyr_regular-webfont.woff2") format("woff2"), url("fonts/still_time_cyr/still_time_cyr_regular-webfont.woff") format("woff"), url("fonts/still_time_cyr/still_time_cyr_regular-webfont.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }
html, body {
  height: 100%;
  padding: 0; }

body {
  font-size: 13px;
  background-image: url("../img/bg.png");
  background-repeat: no-repeat;
  background-size: cover; }

section {
  /*min-height:100%;*/
  width: 978px;
  margin: 0 auto;
  position: relative; }

header {
  position: absolute;
  width: 100%;
  height: 210px;
  top: 0;
  z-index: 1; }

#branches_left {
  position: absolute;
  left: 0;
  bottom: 0;
  height: 587px;
  width: 403px;
  background-image: url("../img/branches_left.png");
  background-repeat: no-repeat;
  z-index: 1; }

#branches_right {
  position: absolute;
  right: 0;
  top: 150px;
  height: 587px;
  width: 403px;
  background-image: url("../img/branches_right.png");
  background-repeat: no-repeat;
  z-index: 1; }

.container {
  position: relative;
  width: 978px;
  margin: 0 auto; }

/*
	==================
	[DIF]
	==================
*/
hr {
  clear: both;
  color: black;
  background-color: black;
  border-top-color: black; }

/*
	==================
	[HEADER]
	==================
*/
header #top {
  position: relative;
  width: 100%;
  height: 90px;
  top: 0;
  z-index: 1;
  background-color: #7da366;
  box-shadow: 0.4em 0.4em 5px rgba(0, 0, 0, 0.8); }
  header #top .container {
    padding-top: 6px; }
header #deers {
  position: relative;
  float: left;
  margin-left: 30px;
  width: 355px;
  height: 84px;
  background-image: url("../img/deers.png");
  background-repeat: no-repeat; }
header #logo {
  position: relative;
  float: left;
  margin-left: 30px;
  width: 101px;
  height: 84px;
  background-image: url("../img/logo.png");
  background-repeat: no-repeat; }
header #authorization {
  font-family: arial;
  position: relative;
  float: right;
  height: 84px;
  width: 390px;
  padding-top: 24px; }
header #authorization a {
  color: black;
  text-decoration: underline; }
header #authorization a:hover {
  text-decoration: none;
  color: red; }
header #authorization .pole {
  height: 30px;
  width: 180px;
  margin: 0 5px;
  padding-left: 20px;
  border-radius: 6px;
  box-shadow: 3px -3px; }
header #log_in {
  float: left;
  margin-left: 10px;
  margin-top: 5px; }
header #registration {
  float: right;
  margin-right: 10px;
  margin-top: 5px; }
header #profile {
  position: relative;
  font-weight: bold;
  height: 80px;
  width: 340px;
  float: right;
  padding-top: 34px;
  font-size: 1.1em; }
  header #profile span:hover {
    cursor: pointer; }
  header #profile span {
    color: white;
    text-decoration: underline; }
  header #profile #profile_menu {
    position: relative;
    height: 38px;
    width: 77px;
    float: right;
    background-image: url("../img/profile_menu.png");
    margin-top: -9px; }
    header #profile #profile_menu div {
      position: relative;
      height: 38px;
      width: 36px;
      float: right; }
    header #profile #profile_menu div:hover {
      cursor: pointer; }
  header #profile p {
    width: 260px;
    position: relative;
    display: block;
    float: right; }
  header #profile ul {
    display: none; }

/*
	==================
	[MENU]
	==================
*/
#main_menu {
  position: relative;
  width: 100%;
  height: 120px;
  font-family: 'still_time_cyr'; }
  #main_menu ul {
    margin: 0;
    padding: 0; }
    #main_menu ul li {
      position: relative;
      float: left;
      width: 148px;
      height: 95px;
      margin-right: 1px;
      background-image: url("../img/main_menu_button.png");
      background-repeat: no-repeat; }
      #main_menu ul li:last-child {
        margin: 0; }
      #main_menu ul li.active {
        height: 115px;
        background-image: url("../img/active_main_menu_button.png"); }
  #main_menu a {
    display: table-cell;
    position: absolute;
    top: 48px;
    left: 10px;
    width: 128px;
    height: 38px;
    text-align: center;
    padding: 0 !important;
    padding-top: 14px !important; }
  #main_menu .active a {
    top: 68px; }
  #main_menu a {
    color: #fff6c2;
    line-height: 1;
    font-size: 1.2em;
    font-weight: bold;
    letter-spacing: 3px;
    vertical-align: middle; }
  #main_menu .nav li a:hover {
    background-color: transparent; }
  #main_menu .nav li a:focus {
    background-color: transparent;
    outline: none; }
  #main_menu #w0-collapse {
    width: 920px; }
    #main_menu #w0-collapse #w1 {
      width: 920px; }

/*
	==================
	[CONTENT]
	==================
*/
.main_container {
  position: relative;
  width: 100%;
  min-height: 840px;
  margin-top: 120px;
  margin-bottom: 40px;
  background-color: #cee1cb;
  box-shadow: inset 0 0 12px rgba(0, 0, 0, 0.9);
  padding: 0 30px;
  padding-top: 90px;
  padding-bottom: 50px;
  font-weight: bold; }
  .main_container h4 {
    color: black;
    text-align: center; }
  .main_container #news li {
    display: block;
    position: relative;
    width: 170px;
    height: 120px;
    float: left;
    margin-bottom: 20px;
    margin-right: 38px; }
  .main_container #news a {
    color: black; }
  .main_container #news p {
    text-align: center; }
  .main_container #rating {
    margin-left: 20px;
    position: relative;
    height: 180px;
    width: 200px;
    float: left; }
  .main_container #rating li {
    margin-left: -60px;
    width: 250px; }
  .main_container #rating li span {
    display: inline-block;
    float: right; }
  .main_container #counters {
    position: relative;
    width: 600px;
    height: 200px;
    float: right;
    padding-top: 20px; }
  .main_container #counters li {
    margin-bottom: 48px; }
  .main_container #counters li h4 {
    text-align: left; }
  .main_container h5 {
    font-weight: bold;
    font-size: 1.2em; }
  .main_container .panel-group .panel .panel-heading h4 {
    text-align: left !important; }
    .main_container .panel-group .panel .panel-heading h4 a:focus {
      outline: none !important; }
  .main_container #news_ul li {
    display: block;
    position: relative;
    width: 830px;
    height: 210px;
    border-top: 1px solid #808080;
    border-bottom: 1px solid #808080;
    padding-top: 60px; }
    .main_container #news_ul li img {
      position: relative;
      width: 186px;
      height: 92px;
      float: left; }
    .main_container #news_ul li span {
      display: block;
      position: relative;
      width: 600px;
      float: right; }
    .main_container #news_ul li .button_a {
      display: block;
      position: relative;
      height: 27px;
      width: 180px;
      background-color: #7da366;
      float: right;
      color: #000000;
      text-decoration: none;
      text-align: center;
      padding-top: 3px; }
    .main_container #news_ul li .button_a:hover {
      text-decoration: underline; }

@media (min-width: 1px) and (max-width: 1700px) {
  #branches_left,
  #branches_right {
    z-index: 0; } }

/*# sourceMappingURL=style.css.map */
